/*--------global--------------*/

body {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #7a7a7a;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 66px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a:link,
a:visited {
    color: #3D3D3D;
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    color: #F14848;
    outline: none;
}

li {
    list-style: none;
}

/*-------------nav header------------------*/

.top-menu {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 66px;
    border-bottom: solid 2px #BEBAB4;
}

.logo {
    display: inline-block;
    line-height: 66px;

}

.logo img {
    vertical-align: middle;
    padding-left: 1.7rem;
}

.top-nav {
    float: right;
}

.top-menu ul {
    margin: 0;
}

.top-nav li {
    display: inline-block;
    font-size: 1vw;
}

.top-nav a {
    display: inline-block;
    line-height: 66px;
    text-align: center;
    vertical-align: middle;
    padding-right: 1.5rem;
}

.ins-nav {
    display: none;
}

.ins-nav a:link,
.ins-nav a:visited {
    color: #7a7a7a;
    display: none;

}

.ins-nav a:active,
.ins-nav a:focus,
.ins-nav a:hover {
    color: white;
    background-color: #F14848;
}

#home {
    color: #F14848;
    font-weight: bold;
}

/* ================================ top back */

.top-back {

    height: 38.8vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(comigo/other/homepage-featured-new-1920x745.jpg);
    text-align: center;
    padding: 12vw 0 5vw 0;
}

.top-back h1 {
    font-size: 2rem;
    color: white;
    margin: 0;
}

.top-back h3 {
    font-size: 4rem;
    color: white;
    margin: 0;
}

/*==================  why  */

.why {

    text-align: center;
    padding: 5vw 0 5vw 0;
}

.why h3 {
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

.why h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.9rem;
}

/*============ Service =================*/
.service {
    width: 100%;
    /*height: 80vw;*/
    text-align: left;
    background-color: #1E2024;
    color: white;
    display: inline-block;
    /*padding: 5% 0 5% 10%;*/
    /*margin: 0 auto;*/

}

.service h2 {
    font-size: 2.1rem;
    line-height: 2.5rem;
}

.service h5 {
    font-size: 1.2rem;
    line-height: 1rem;
}

.three0 {
    width: 18%;
    display: inline-block;
    margin-left: 50px;
}

.three1 {
    display: inline-block;
    width: 22%;
    vertical-align: top;

}

.ser-ul a {
    display: block;
    color: #7a7a7a;
    font-size: 1.6rem;
    line-height: 3rem;
    padding-right: 3rem;
}

.ser-ul a:hover {
    color: #F14848;
}

.three2 {
    display: inline-block;
    width: 40%;
    height: 120px;
    vertical-align: top;
}

.ser-img {
    width: 30vw;
    height: 300px;
    display: inline-block;
}

.ser-img img {
    height: 300px;
}

.participation,
.discovery,
.commerce,
.advertising,
.customize {
    display: none;
}

/*=================== rd-wt */

.rd-wt {
    display: inline-block;
    width: 100%;

}

.rd-wt h2 {

    font-size: 2.2rem;
}

.rd-back {
    color: white;
    height: 50vw;
    width: 50%;
    background-image: url("comigo/other/ic_EI_cloud_2_home_page.png"), url("comigo/other/home-tv-service-bg1.png");
    background-repeat: no-repeat;
    background-position: 50% 20%, center;
    background-size: 45%, cover;
    display: inline-block;
    float: left;
    padding: 22vw 10vw;
}

.wt-back {
    height: 50vw;
    width: 50%;
    background-image: url("comigo/other/ic-stb-screens.png"), url("comigo/other/home-tv-service-bg2.png");
    background-repeat: no-repeat;
    background-position: 50% 20%, center;
    background-size: 45%, cover;
    display: inline-block;
    float: left;
    padding: 22vw 10vw;
}

/*=============btns=================*/

.rd-btn,
.wt-btn {
    display: inline-block;
    font-size: 1rem;
}

.rd-btn:link,
.rd-btn:visited {
    color: #FFFFFF;
    background-color: #F14848;
    border-radius: 26px;
    padding: 1.3vw 2.6vw;
    margin: 2vw 3vw;

}

.rd-btn:hover,
.rd-btn:active {
    font-size: 1.3rem;
}

.wt-btn:link,
.wt-btn:visited {
    color: #F14848;
    background-color: white;
    border-radius: 26px;
    padding: 1.3vw 2.6vw;
    margin: 2vw 3vw;

}

.wt-btn:hover,
.wt-btn:active {
    font-size: 1.3rem;
}

/* ============================== tv */

.tv {
    height: 50vw;
    background-image: url("comigo/other/screen_whos_on.jpg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 60%;
    text-align: left;
    padding-left: 5rem;
}

.tv h3 {

    font-size: 3rem;
    margin-bottom: 0.4rem;
    padding-top: 5rem;

}

/*===========footer================*/

.center-footer {
    width: 90%;
    max-width: 1230px;
    margin: 0 auto;
}

.site-footer {
    background-color: #1E2024;

}

.fotfot {

    background-color: #151515;
}

.site-footer nav ul li a:hover {
    color: red;
}

.site-footer a:link {
    color: white;
}

.site-footer > nav > ul > li > a:link,
.site-footer > nav > ul > li > a:visited,
.site-footer > nav > ul > li > a:active,
.site-footer > nav > ul > li > a:focus,
.site-footer > nav > ul > li > a:hover {
    color: white;
}

.site-footer .fotfot a:link {
    color: grey;
}

.site-footer .fotfot a:hover {
    color: white;
}

/*==============backgrounds===============*/

.site-footer {
    background-color: #1E2024;
}

.gryish {
    background-color: #EFEFEF;

}

.gryer {
    background-color: #EFEFEF;
    width: 450px;
    height: 320px;
}

.gry {
    background-color: #F9F9F9;
}

aside > div {
    background-color: #F14848;
}

/*===========blog================*/

.blogs {
    display: inline-block;
    width: 100%;
    margin: 0;
}

.lblog {
    margin: 0;
    padding: 0;
}

.our-b h3 {
    font-size: 3.5rem;
    margin: 0;
}

.blogs a {
    color: white;
    font-size: 1.2rem;
}

.our-b {
    background-color: #F14848;
}

.lblog li {
    width: 16.6%;
    /*height: 100%;*/
    float: left;
    position: relative;
}

.lblog li a {
    position: absolute;
    bottom: 10px;
    left: 15px;
    /*padding-top: 100%;*/
}

.exp {

    background: url("comigo/blog/ibc_post_EI-750x508.png") no-repeat center;
}

.learn {

    background: url("comigo/blog/IMG_9294-750x563.jpeg") no-repeat center;
}

.data {

    background: url("comigo/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg") no-repeat center;
}

.inf {

    background: url("comigo/blog/post_tv_connect-750x508.jpeg") no-repeat center;
}

.crapy {

    background: url("comigo/blog/post_quality-750x508.jpeg") no-repeat center;
}

section dive .rdd {
    background-color: #F14848;
    color: white;
}

/*============================ @ media  */

@media (max-width: 1450px) {
    .center {
        max-width: 1050px;
    }
}

@media (max-width: 1200px) {
    .center {
        max-width: 880px;
    }
}

@media (max-width: 990px) {
    .center {
        max-width: 660px;
    }
}

@media (max-width: 700px) {
    .center {
        max-width: 440px;
    }
}

.site-footer nav ul li a:link,
.site-footer nav ul li a:visited {
    color: gray;
}

@media (max-width: 700px) {
    .top-menu nav {
        display: none;
    }
}