/*--------global--------------*/

body {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #7a7a7a;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 66px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a:link,
a:visited {
    color: #3D3D3D;
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    color: #F14848;
    outline: none;
}

li {
    list-style: none;
}

/*-------------nav header------------------*/

.top-menu {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    /*height: 66px;*/
    padding-right: 25px;
}

.logo {
    display: inline-block;
    /*line-height: 66px;*/
    vertical-align: middle;
    padding-left: 1.7rem;
    padding-top: 0.8rem;
}


.top-nav {
    float: right;
    background-color: white;
}

.top-menu ul {
    margin: 0;
}

.top-nav li {
    padding: 0 10px;
    float: left;
    text-align: center;
    background-color: white;

}

.top-nav > ul li a {
    line-height: 66px;
    font-size: 1.3rem;
    display: block;
}

a span {
    line-height: 1;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.ins-nav a:hover {
    background-color: red;
    color: white;
    padding: 0;
    margin: 0 ;
}

.ins-nav li a {
    width: 100%;
    height: 155px;
    font-size: 6rem;
    vertical-align: middle;
}

.ins-nav {
    display: none;
    padding: 0;
    margin: 0;

}

.top-nav li:hover .ins-nav {
    display: inline-block;
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    /*width: 100%;*/
}

.ins-nav li:first-child:hover .mnu1 {
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ins-nav .mn2:hover .mnu2 {
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ins-nav > li {
    width: 33.333333%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.ins-nav a:link {
    background-color: rgba(255 255 255 0.4);
    height: 150px;
    padding: 0;
    /*width: 100%;*/
    display: block;
    float: left;
}

.mnu1,
.mnu2 {
    display: none;
    width: 100%;
}

.ins-nav:first-child:hover .mnu1 {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 58px;
}

.mnu1 li,
.mnu2 li {
    width: 50%;
}

.top-menu li ul a {
    line-height: 150px;
}

#home {
    color: #F14848;
    font-weight: bold;

}

/* ================================ top back */

.top-back {

    height: 38.8vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(comigo/other/homepage-featured-new-1920x745.jpg);
    text-align: center;
    padding: 12vw 0 5vw 0;
}

.top-back h1 {
    font-size: 2rem;
    color: white;
    margin: 0;
}

.top-back h3 {
    font-size: 4rem;
    color: white;
    margin: 0;
}

/*==================  why  */

.why {

    text-align: center;
    padding: 5vw 0 5vw 0;
}

.why h3 {
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

.why h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.9rem;
}

/*============ Service =================*/
.service {
    width: 100%;
    height: 40vw;
    text-align: left;
    background-color: #1E2024;
    color: white;
    display: inline-block;
    padding: 5% 0 5% 10%;


}

.service h2 {
    font-size: 2.1rem;
    line-height: 2.5rem;
}

.service h5 {
    font-size: 1.2rem;
    line-height: 1rem;
}

.lser {
    float: left;
    width: 20%;
    height: 40vw;
}

.rser {
    float: left;
    width: 60%;
    height: 40vw;
    padding-left: 10%;

}

.rser dl {
    position: relative;
    display: block;
}

.service dt{
   display: block;
    width: 30%;
}

.service dd{
    display: none;
    width: 50%;
    height: 50%;
    text-align: center;
}


.service a {
    display: block;
    color: #7a7a7a;
    font-size: 1.6rem;
    line-height: 3rem;
    padding-right: 3rem;
}

.service a:hover {
    color: #F14848;
}


.service dt:hover + dd {
    display: block;
    position: absolute;
    right: 20%;
    top: 0;


}
/*=================== rd-wt */

.rd-wt {
    width: 100%;

}

.rd-wt h2 {

    font-size: 2.5rem;
}

.rd-back {
    color: white;
    height: 42vw;
    width: 50%;
    background-image: url("comigo/other/ic_EI_cloud_2_home_page.png"), url("comigo/other/home-tv-service-bg1.png");
    background-repeat: no-repeat;
    background-position: 50% 20%, center;
    background-size: 45%, cover;
    float: left;
    padding: 22vw 10vw;
}

.wt-back {
    height: 42vw;
    width: 50%;
    background-image: url("comigo/other/ic-stb-screens.png"), url("comigo/other/home-tv-service-bg2.png");
    background-repeat: no-repeat;
    background-position: 50% 20%, center;
    background-size: 45%, cover;
    float: left;
    padding: 22vw 10vw;
}

/*=============btns=================*/

.rd-btn,
.wt-btn {
    display: inline-block;
    font-size: .9rem;
}

.rd-btn:link,
.rd-btn:visited {
    color: #FFFFFF;
    background-color: #F14848;
    border-radius: 26px;
    padding: 1.3vw 2.6vw;
    margin: 2vw 3vw;

}

.rd-btn:hover,
.rd-btn:active {
    font-size: 1.1rem;
}

.wt-btn:link,
.wt-btn:visited {
    color: #F14848;
    background-color: white;
    border-radius: 26px;
    padding: 1.3vw 2.6vw;
    margin: 2vw 3vw;

}

.wt-btn:hover,
.wt-btn:active {
    font-size: 1.1rem;
}

/* ============================== tv */

.tv {
    clear: both;
    height: 50vw;
    background-image: url("comigo/other/screen_whos_on.jpg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 60%;
    text-align: left;
    padding-left: 5rem;
}

.tv h3 {

    font-size: 3rem;
    margin-bottom: 0.4rem;
    padding-top: 5rem;

}
/*============================ mo links */



.momo {
  width: 100%;
    margin: 0;
}

.gry {
    width: 40%;
    height: 20vw;
    float: left;
    font-size: 4rem;
    background-color: #F9F9F9;

}
.grrred {
    width: 20%;
    height: 20vw;
    background-color: #F14848;
    float: left;
}
.grrred a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #F14848;

}
.gryish {
    width: 20%;
    height: 20vw;
    float: left;
    background-color: #EFEFEF;
}
.gryer {
    width: 40%;
    height: 20vw;
    float: left;
    background-color: #E8E8E8;

}

.gryer a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 2rem;
    text-align: left;
    padding: 15px;
}
.biggry {
    width: 40%;
    height: 40vw;
    float: right;
    background-color: #EFEFEF;
}

.biggry img {

    width: 90%;
    height: 80%;
}

/*!*===========blog================*!*/

.blogs {
    clear: both;
    margin: 0;
}
.lblog {
    width: 100%;
    padding: 0;
}

.lblog li {
    float: left;
    margin: 0;
    padding: 0;
    width: 16.666666%;
    height: 450px;
    vertical-align: bottom;
}

.our-b h3 {
    font-size: 3.5rem;
    margin: 0;
}

.blogs a {
    display: block;
    color: white;
    font-size: 1.2rem;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: baseline;

}

.blogs span {
    position: absolute;
    bottom: 10px;
    left: 20px;
    text-align: left;

}

.our-b {
    background-color: #F14848;
}


.lblog li a {
    /*padding-top: 450px;*/

}

.exp {

    background: url("comigo/blog/ibc_post_EI-750x508.png") no-repeat center;
}

.learn {

    background: url("comigo/blog/IMG_9294-750x563.jpeg") no-repeat center;
}

.data {

    background: url("comigo/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg") no-repeat center;
}

.inf {

    background: url("comigo/blog/post_tv_connect-750x508.jpeg") no-repeat center;
}

.crapy {

    background: url("comigo/blog/post_quality-750x508.jpeg") no-repeat center;
}



/*===========footer================*/

.center-footer {

    width: 90%;
    max-width: 1230px;
    margin: 0 auto;
    clear: both;
}

.site-footer {
    background-color: #1E2024;
    clear: both;
}




.site-footer a:visited {
    color: white;
}



.site-footer a:hover {
    color: red;
}


.fotfot {
    background-color: #151515;
    width: 100%;
    height: 40px;
    vertical-align: middle;
}

.fotfot .center-footer div {
    float: left;
    width: 40%;
}

.fotfot .center-footer h6 {
    float: left;
    margin: 0;
    padding-left: 60px;
}

.fotfot .center-footer ul {
    float: left;
    margin: 0;
}
.soc-li li {
    display: inline-block;
}


.site-footer .fotfot a:link {
    color: grey;
}

.site-footer .fotfot a:hover {
    color: white;
}

/*============================ @ media  */

@media (max-width: 1450px) {
    .center {
        max-width: 1050px;
    }
}

@media (max-width: 1200px) {
    .center {
        max-width: 880px;
    }
}

@media (max-width: 990px) {
    .center {
        max-width: 660px;
    }
}

@media (max-width: 700px) {
    .center {
        max-width: 440px;
    }
}


@media (max-width: 700px) {
    .top-menu nav {
        display: none;
    }
}

/*============= helpers */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
