@media (max-width: 700px) {
    body {
        display: none;
    }
}

/*--------global--------------*/
a:link,
a:visited {
    color: #000000;
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    color: #F14848;
    outline: none;
}

li {
    list-style: none;
}
/*-------------nav header------------------*/
header li li a:link,
header li li a:visited {
    color: #000000;
    text-decoration: none;
}

header li li a:active,
header li li a:focus,
header li li a:hover {
    color: white;
    background-color: #F14848;
}

#home {
    color: #F14848;
}

/*=============================*/


dt a:link,
dt a:visited {
    color: #000000;
    background-color: transparent;
}

dt a:active,
dt a:focus,
dt a:hover {
    color: #F14848;
}

/*=============btns=================*/

.rd-btn:link,
.rd-btn:visited {
    padding: 5px 3px 5px 3px;
    color: #FFFFFF;
    background-color: red;
    border-radius: 3px;
}

.rd-btn:hover,
.rd-btn:active {
    font-size: 18px;
}

.wt-btn:link,
.wt-btn:visited {
    color: red;
    background-color: white;
    border-radius: 5px;
}

.wt-btn:hover,
.wt-btn:active {
    font-size: 18px;
}

/*===========footer================*/


.site-footer a:link,
.site-footer a:visited {
    color: gray;
    background-color: transparent;
}

.site-footer a:active,
.site-footer a:focus,
.site-footer a:hover {
    color: white;

}

.site-footer > nav > ul > li > a:link,
.site-footer > nav > ul > li > a:visited,
.site-footer > nav > ul > li > a:active,
.site-footer > nav > ul > li > a:focus,
.site-footer > nav > ul > li > a:hover {
    color: white;
}


.top-back {
    height: 400px;
    background-image: url(comigo/other/homepage-featured-new-1920x745.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.site-footer {
    background-color: #1E2024;
}


.gryish {
    background-color: #EFEFEF;
   
}

.gryer {
    background-color: #EFEFEF;
}

.gry {
    background-color: #F9F9F9;
}

.rdd {
    background-color: #F14848;
}

.exp {
    width: 160px;
    height: 300px;
    background-image: url("comigo/blog/ibc_post_EI-750x508.png");
    background-repeat: no-repeat;
    background-position: center ;
    padding-left: 17%;
}

.learn {
    width: 160px;
    height: 300px;
    background-image: url("comigo/blog/IMG_9294-750x563.jpeg");
    background-repeat: no-repeat;
    background-position: center ;
    padding-left: 17%;
}

.data {
    width: 160px;
    height: 300px;
    background-image: url("comigo/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg");
    background-repeat: no-repeat;
    background-position: center ;
}

.inf {
    width: 160px;
    height: 300px;
    background-image: url("comigo/blog/post_tv_connect-750x508.jpeg");
    background-repeat: no-repeat;
    background-position: center ;
}

.crapy {
    width: 160px;
    height: 300px;
    background-image: url("comigo/blog/post_quality-750x508.jpeg");
    background-repeat: no-repeat;
    background-position: center ;
}

aside>div {
    background-color: #F14848;
}


.rd-back {
    color: white;
    background-image: url("comigo/other/home-tv-service-bg1.png") ;
}

.wt-back {
    background-image: url("comigo/other/home-tv-service-bg2.png");
}