/*--------global--------------*/

@media (max-width: 700px) {
    .top-menu nav {
        display: none;
    }
}

html,
body {
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #3D3D3D;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
a:link,
a:visited {
    color: #3D3D3D;
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    color: #F14848;
    outline: none;
}

li {
    list-style: none;
}


/*-------------nav header------------------*/

.top-menu {
    display: inline-block;

}

.ins-nav a:link,
.ins-nav a:visited {
    color: #3D3D3D;
    display: none;

}

.ins-nav a:active,
.ins-nav a:focus,
.ins-nav a:hover {
    color: white;
    background-color: #F14848;
}

#home {
    color: #F14848;
    font-weight: bold;
}

/* ================================ top back */

.top-back h1 {
    font-size: 2rem;
    color: white;
padding-top: 10rem;
    margin-bottom: 0px;
}

.top-back h3 {
    font-size: 3.8rem;
    color: white;
    margin-top: 0px;
    margin-bottom: 35px;
}

.top-back {
    height: 520px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(comigo/other/homepage-featured-new-1920x745.jpg);
}


/*==================  why  */

.why {
    padding-bottom: 100px;
}
.why h3 {
    font-size: 3rem;
    margin-bottom: 0px;
}

.why h2 {
    font-size: 1.2rem;
    margin-bottom: 35px;
}


/*============ DL =================*/
.service h2 {
    font-size: 2.1rem;
}

.service h5 {
    font-size: 1.2rem;
}

.service {
    background-color: #1E2024;
    color: white;
    font-size: 1.2rem;

}
.service a
{
    color: #7a7a7a;
    font-size: 1.6rem;
}


.service a:hover {
    color: #F14848;
}



/*.participation,*/
/*.discovery,*/
/*.commerce,*/
/*.advertising,*/
/*.customize {*/
    /*display: none;*/
/*}*/

/*=============btns=================*/

.rd-btn:link,
.rd-btn:visited {
    color: #FFFFFF;
    background-color: #F14848;
    border-radius: 20px;
    padding: 13px 26px;
}

.rd-btn:hover,
.rd-btn:active {
    font-size: 18px;
}

.wt-btn:link,
.wt-btn:visited {
    color: #F14848;
    background-color: white;
    border-radius: 20px;
    padding: 13px 26px;
}

.wt-btn:hover,
.wt-btn:active {
    font-size: 18px;
}

/*===========footer================*/

.site-footer nav ul li a:link,
.site-footer nav ul li a:visited {
    color: gray;
}

.site-footer nav ul li a:hover {
    color: red;
}

.site-footer a:link {
    color: white;
}

.site-footer > nav > ul > li > a:link,
.site-footer > nav > ul > li > a:visited,
.site-footer > nav > ul > li > a:active,
.site-footer > nav > ul > li > a:focus,
.site-footer > nav > ul > li > a:hover {
    color: white;
}

.site-footer .fotfot a:link {
    color: grey;
}

.site-footer .fotfot a:hover {
    color: white;
}

/*==============backgrounds===============*/



.site-footer {
    background-color: #1E2024;
}

.gryish {
    background-color: #EFEFEF;

}

.gryer {
    background-color: #EFEFEF;
    width: 450px;
    height: 320px;
}

.gry {
    background-color: #F9F9F9;
}

aside > div {
    background-color: #F14848;
}

.rd-back {
    color: white;
    height: 500px;
    background-image: url("comigo/other/ic_EI_cloud_2_home_page.png"), url("comigo/other/home-tv-service-bg1.png");
    background-repeat: no-repeat;
    background-position: bottom, center;
    background-size: auto, cover;
}

.wt-back {
    height: 500px;
    background-image: url("comigo/other/ic-stb-screens.png"), url("comigo/other/home-tv-service-bg2.png");
    background-repeat: no-repeat;
    background-position: bottom, center;
    background-size: auto, cover;
}

/*===========blog================*/


#blogs h3 {
font-size: 4rem;

}

#blogs > div a {
    color: white;
    font-size: 1.2rem;
}

#blogs li[class] {
    width: 17.5%;
    height: 350px;
}

.exp {
    height: 300px;
    background: url("comigo/blog/ibc_post_EI-750x508.png") no-repeat center;
}

.learn {
    height: 300px;
    background: url("comigo/blog/IMG_9294-750x563.jpeg") no-repeat center;
}

.data {
    height: 300px;
    background: url("comigo/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg") no-repeat center;
}

.inf {
    height: 300px;
    background: url("comigo/blog/post_tv_connect-750x508.jpeg") no-repeat center;
}

.crapy {
    height: 300px;
    background: url("comigo/blog/post_quality-750x508.jpeg") no-repeat center;
}

section dive > .rdd {
    background-color: #F14848;
    color: white;
}

