a:link,
a:visited {
    color: #000000;
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    color: #F14848;
    outline: none;
}

li ul li a:link,
li ul li a:visited {
    color: #000000;
    text-decoration: none;
}

li ul li a:active,
li ul li a:focus,
li ul li a:hover {
    color: white;
    background-color: #F14848;
}


dt a:link,
dt a:visited {
    color: #000000;
    background-color: transparent;
}

dt a:active,
dt a:focus,
dt a:hover {
    color: #F14848;
}

.rd-btn:link,
.rd-btn:visited {
    color: #FFFFFF ;
    background-color: red ;
    border-radius: 5px;
}

.rd-btn:hover,
.rd-btn:active {
    font-size: 18px;
}

.wt-btn:link,
.wt-btn:visited {
color: red;
    background-color: white;
    border-radius: 5px;
}

.wt-btn:hover,
.wt-btn:active {
    font-size: 18px;
}

.rd-back {
    background-color: red;
}

.site-footer a:link,
.site-footer a:visited {
    color: gray;
    background-color: transparent;
}

.site-footer a:active,
.site-footer a:focus,
.site-footer a:hover {
    color: white;

}

.site-footer>nav>ul>li>a:link,
.site-footer>nav>ul>li>a:visited,
.site-footer>nav>ul>li>a:active,
.site-footer>nav>ul>li>a:focus,
.site-footer>nav>ul>li>a:hover {
    color: white;
}
