/*--------global--------------*/



html,
body {
    /*font-size: 1em;*/
    /*line-height: 1.5em;   */
    font-family: 'Source Sans Pro', sans-serif;
    color: #3D3D3D;
    /*margin: 0 auto;*/
    /*box-sizing: border-box;*/
}

/*h1, h2, h3, h4, h5, h6 {*/
    /*font-weight: normal;*/
/*}*/

a:link,
a:visited {
    color: #3D3D3D;
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    color: #F14848;
    outline: none;
}

li {
    list-style: none;
}

/*-------------nav header------------------*/

.top-menu {
    width: 100%;
    height: 70px;
    background-color: white;
    display: inline-block;
    position: fixed;
    top: 0;
}

 #logo {
     height: 26px;
     width: 140px;
     display: inline;
     background-repeat: no-repeat;
     background-position: left center;
     background-image: url("comigo/logo/comigo-logo-black.png");
     background-size: cover;

}

.top-nav {
    /*padding-left: 60%;*/
    text-align: center;
    display: block;
}

.top-menu .top-nav li {
    float: left;
    text-align: left;
    margin-left: 3px;
}

.ins-nav a:link,
.ins-nav a:visited {
    color: #3D3D3D;
    display: none;

}

.ins-nav a:active,
.ins-nav a:focus,
.ins-nav a:hover {
    color: white;
    background-color: #F14848;
}

#home {
    color: #F14848;
    font-weight: bold;
}

/* ================================ top back */

.top-back {

    height: 520px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(comigo/other/homepage-featured-new-1920x745.jpg);
    text-align: center;
    margin-top: 70px;
}

.top-back h1 {
    font-size: 2rem;
    color: white;
    padding-top: 10rem;
    margin-bottom: 2rem;
}

.top-back h3 {
    font-size: 4rem;
    color: white;
    margin-top: 0;
    margin-bottom: 4.2rem;
}



/*==================  why  */

.why {

    text-align: center;
    /*height: 300px;*/
    margin: 10% 18%;
}

.why h3 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.why h2 {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

/*============ Service =================*/
.service {
    width: 100%;
    background-color: #1E2024;
    color: white;
    font-size: 1.2rem;
    display: inline-block;
}

.qurtr  {
    width: 33%;
    display: inline-block;
}

.service h2 {
    font-size: 2.1rem;
    line-height: 2.5rem;
    padding: 10% 0 0 25%;
}

.service h5 {
    font-size: 1.2rem;
    line-height: 1rem;
    padding: 0 0 25% 25% ;
}


.service a {
    color: #7a7a7a;
    font-size: 1.6rem;
}

.service a:hover {
    color: #F14848;
}

.participation,
.discovery,
.commerce,
.advertising,
.customize {
display: none;
}
/*=================== rd-wt */

.rd-wt h2 {
    padding-top: 50%;
    line-height: 0;
    font-size: 2.2rem;
}

.rd-wt p {
    margin-bottom: 30px;
}

.rd-back {
    color: white;
    height: 35rem;
    width: 50%;
    background-image: url("comigo/other/ic_EI_cloud_2_home_page.png"), url("comigo/other/home-tv-service-bg1.png");
    background-repeat: no-repeat;
    background-position: 50% 20%, center;
    background-size: 45%, cover;
    display: inline-block;
}

.wt-back {
    height: 35rem;
    width: 50%;
    background-image: url("comigo/other/ic-stb-screens.png"), url("comigo/other/home-tv-service-bg2.png");
    background-repeat: no-repeat;
    background-position: 50% 20%, center;
    background-size: 45%, cover;
    display: inline-block;
}

/*=============btns=================*/

.rd-btn:link,
.rd-btn:visited {
    color: #FFFFFF;
    background-color: #F14848;
    border-radius: 20px;
    padding: 13px 26px;
    margin: 20px 30px;

}

.rd-btn:hover,
.rd-btn:active {
    font-size: 18px;
}

.wt-btn:link,
.wt-btn:visited {
    color: #F14848;
    background-color: white;
    border-radius: 20px;
    padding: 13px 26px;
    margin: 20px 30px;
}

.wt-btn:hover,
.wt-btn:active {
    font-size: 18px;
}

/* ============================== tv */

.tv {
    height: 600px;
    background-image: url("comigo/other/screen_whos_on.jpg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 60%;
    text-align: left;
    padding-left: 5rem;
}

.tv h3 {

    font-size: 3rem;
    margin-bottom: 0.4rem;
    padding-top: 5rem;

}

/*===========footer================*/

.center-footer {
    width: 90%;
    max-width: 1230px;
    margin: 0 auto;
}

.site-footer {
    background-color: #1E2024;

}

.fotfot {

    background-color: #151515;
}


.site-footer nav ul li a:hover {
    color: red;
}

.site-footer a:link {
    color: white;
}

.site-footer > nav > ul > li > a:link,
.site-footer > nav > ul > li > a:visited,
.site-footer > nav > ul > li > a:active,
.site-footer > nav > ul > li > a:focus,
.site-footer > nav > ul > li > a:hover {
    color: white;
}

.site-footer .fotfot a:link {
    color: grey;
}

.site-footer .fotfot a:hover {
    color: white;
}

/*==============backgrounds===============*/

.site-footer {
    background-color: #1E2024;
}

.gryish {
    background-color: #EFEFEF;

}

.gryer {
    background-color: #EFEFEF;
    width: 450px;
    height: 320px;
}

.gry {
    background-color: #F9F9F9;
}

aside > div {
    background-color: #F14848;
}

/*===========blog================*/

#blogs h3 {
    font-size: 4rem;

}

#blogs > div a {
    color: white;
    font-size: 1.2rem;
}

#blogs li[class] {
    width: 17.5%;
    height: 350px;
}

.exp {
    height: 300px;
    background: url("comigo/blog/ibc_post_EI-750x508.png") no-repeat center;
}

.learn {
    height: 300px;
    background: url("comigo/blog/IMG_9294-750x563.jpeg") no-repeat center;
}

.data {
    height: 300px;
    background: url("comigo/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg") no-repeat center;
}

.inf {
    height: 300px;
    background: url("comigo/blog/post_tv_connect-750x508.jpeg") no-repeat center;
}

.crapy {
    height: 300px;
    background: url("comigo/blog/post_quality-750x508.jpeg") no-repeat center;
}

section dive  .rdd {
    background-color: #F14848;
    color: white;
}

/*============================ @ media  */

@media (max-width: 1450px) {
    .center {
        max-width: 1050px;
    }
}

@media (max-width: 1200px) {
    .center {
        max-width: 880px;
    }
}

@media (max-width: 990px) {
    .center {
        max-width: 660px;
    }
}

@media (max-width: 700px) {
    .center {
        max-width: 440px;
    }
}

.site-footer nav ul li a:link,
.site-footer nav ul li a:visited {
    color: gray;
}

@media (max-width: 700px) {
    .top-menu nav {
        display: none;
    }
}